<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zhoujunlin94.server.order.repository.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="io.github.zhoujunlin94.server.order.repository.entity.Order">
    <!--@mbg.generated generated on Fri Jun 07 19:39:07 CST 2024.-->
    <!--@Table shop_order-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="p_price" jdbcType="INTEGER" property="pPrice" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Jun 07 19:39:07 CST 2024.-->
    id, user_id, user_name, p_id, p_name, p_price, `number`
  </sql>
</mapper>